.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-button {
  padding: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
}

.pagination-button.current {
  text-decoration: underline;
}
