.pagination {
  display: flex;
  gap: 8px;
}

.pagination-button {
  padding: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;

  &:disabled {
    opacity: 0.5;
  }
}
