.error-message {
  width: 80%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  border: solid 2px crimson;
  border-radius: 16px;
  background-color: pink;
  color: black;
}

.error-message h4 {
  margin: 0;
}

.error-message button {
  padding: 8px 12px;
}
