.u-form {
  box-sizing: border-box;
  min-width: 480px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.u-form-error-box {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.u-form-entry {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;

  &.terms {
    justify-content: flex-start;
  }
}

.u-form-error-message {
  width: 100%;
  padding: 2px;

  font-size: 12px;
  text-align: center;

  background-color: #ffffcf;
  color: crimson;

  &:empty {
    display: none;
  }
}
