.top-controls-section {
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border-block: solid 1px black;

  &.dark {
    border-color: white;
    background-color: #1c1c1c;
  }
}

.top-controls-section input[type='text'] {
  height: 32px;

  border-radius: 8px;
  border: solid 1px;

  .dark & {
    background-color: #2e343a;
    color: white;
  }
}

.top-controls-section button {
  height: 40px;
  padding: 8px 12px;

  border-radius: 8px;
  border: 0;

  background-color: #d8d8d8;
  color: black;

  &:hover {
    background-color: #b8b8b8;
  }

  .dark & {
    background-color: #2e2e2e;
    color: white;

    &:hover {
      background-color: #3e3e3e;
    }
  }
}

.results-section {
  flex: 1;
  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 32px;
}

.search-results {
  flex: 1;
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.details-side {
  overflow: clip;

  &:not(:empty) {
    flex-basis: 50%;
  }
}

.app-control-section {
  padding: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.results-container {
  display: flex;
  flex-direction: column;
}

.loading-space {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: whitesmoke;

  &.dark {
    background-color: #2c3136;
  }

  z-index: 999;
}

.loading-indicator {
  height: 240px;
  width: 240px;
}
